<a href="https://colab.research.google.com/github/Shahadyba/Cyclistic-Bike-Share-Project/blob/main/Case_Study_How_Does_a_Bike_Share_Navigate_Speedy_Success%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hi!

Recently I Finished the Google Data Analytics Professional Certificate Program on Coursera. As part of this course, I completed a data analysis case study to showcase the conceptual skills I learned throughout the course. 

For this project, I used Python for Data Preparation, Analysis, and Tableau for Visualization.

## **Scenario**
Cyclistic is a bike-share company. It has two pricing plans: single-ride passes, full-day passes. Customers who purchase single-ride or full-day passes are referred to as *Casual riders*. Customers who purchase annual memberships are *Annual members*.


The director of marketing believes the companyâ€™s future success depends on maximizing the number of annual memberships. The goal is to design marketing strategies aimed at converting casual riders into annual members. In order to do that, the marketing analyst team needs to better understand how annual members and casual riders differ, why casual riders would buy a membership, and how digital media could affect their marketing tactics.

However, As junior data analyst my Assignment is to understand how casual riders and annual members use Cyclistic bikes differently.

**Table of Content**


1. Business Task Statement
2. Description of all data sources used
3. Documentation of any cleaning or manipulation of data
4. Summary of Analysis
5. Visualizations and key findings
6. Recommendations


### **1. Business Task Statement**
Analyze the Cyclistic historical bike trip data to understand the difference between members and casual riders.


### **2. Description of Data Sources**

The data has been made available by Motivate International Inc. I used the last 12 months (Q2 2019 to Q1 2020).
Each file represents a quarter and has a different structure than the other files.

Prepare Process includes:
* Unify columns names
* Drop the additional column that exists in some files but not all of them.
* Check for Missing values and Duplicate records
* Join all files into one Dataframe

In [ ]:
import pandas as pd
from pandas.api.types import CategoricalDtype
import numpy as np

In [ ]:
Q1_df = pd.read_csv("/content/drive/MyDrive/Data/Divvy_Trips_2020_Q1.csv")
Q2_df = pd.read_csv("/content/drive/MyDrive/Data/Divvy_Trips_2019_Q2.csv")
Q3_df = pd.read_csv("/content/drive/MyDrive/Data/Divvy_Trips_2019_Q3.csv")
Q4_df = pd.read_csv("/content/drive/MyDrive/Data/Divvy_Trips_2019_Q4.csv")

In [ ]:
print(Q1_df.columns)
print(Q2_df.columns)
print(Q3_df.columns)
print(Q4_df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')
Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear'],
      dtype='object')
Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [ ]:
Q1_df.drop(columns=['start_lat', 'start_lng', 'end_lat', 'end_lng'],inplace=True)
Q2_df.drop(columns=['Member Gender','05 - Member Details Member Birthday Year', '01 - Rental Details Duration In Seconds Uncapped'], inplace=True)
Q3_df.drop(columns=['gender', 'birthyear','tripduration'], inplace=True)
Q4_df.drop(columns=['gender', 'birthyear','tripduration'], inplace=True)

In [ ]:
# Unify Column names
Q2_df.rename(columns={'01 - Rental Details Rental ID': 'ride_id', '01 - Rental Details Bike ID': 'rideable_type',
"01 - Rental Details Local Start Time":"started_at","01 - Rental Details Local End Time":"ended_at",
"03 - Rental Start Station Name":"start_station_name","03 - Rental Start Station ID":"start_station_id",
"02 - Rental End Station Name":"end_station_name","02 - Rental End Station ID":"end_station_id","User Type":"member_casual"}, inplace=True)

Q3_df.rename(columns={'trip_id':'ride_id', 'start_time':"started_at", 'end_time':"ended_at", 'bikeid':'rideable_type',
       'from_station_id':"start_station_id", 'from_station_name':"start_station_name", 'to_station_id':"end_station_id",
       'to_station_name':"end_station_name", 'usertype':"member_casual"}, inplace=True)
       
Q4_df.rename(columns={'trip_id':'ride_id', 'start_time':"started_at", 'end_time':"ended_at", 'bikeid':'rideable_type',
       'from_station_id':"start_station_id", 'from_station_name':"start_station_name", 'to_station_id':"end_station_id",
       'to_station_name':"end_station_name", 'usertype':"member_casual"}, inplace=True)

In [ ]:
# Join Dfs into one 
frames = [Q1_df,Q2_df,Q3_df,Q4_df]
df = pd.concat(frames)

In [ ]:
df.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      1
end_station_id        1
member_casual         0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'member_casual'],
      dtype='object')

In [ ]:
df.shape

(3879822, 9)

In [ ]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326.0,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234,Southport Ave & Irving Park Rd,318.0,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296,Wilton Ave & Belmont Ave,117.0,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51,Fairbanks Ct & Grand Ave,24.0,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66,Wells St & Hubbard St,212.0,member

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3879822 entries, 0 to 704053
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    int64
 6   end_station_name    object
 7   end_station_id      float64
 8   member_casual       object
dtypes: float64(1), int64(1), object(7)
memory usage: 296.0+ MB

### **3. Documentation of cleaning and manipulation of data**
* Unify values of member_casual column into {'casual', 'member'} only
* Create date columns (Year, Month, Day of Week, Hour)
* Create "ride_length" column 
* Sort the dataframe by date
* Exclude records when bikes were taken out of docks or nagitve "ride_length"

In [ ]:
df.dropna(inplace=True)

In [ ]:
# Unify Values of member_casual column
df["member_casual"].replace(["Subscriber","Customer"],["member","casual"], inplace = True)
df["member_casual"] = df["member_casual"].str.capitalize()
set(df["member_casual"])

{'Casual', 'Member'}

In [ ]:
df['date'] = pd.to_datetime(df['started_at'])
df['year'] =  df['date'].dt.year
df['month'] = df['date'].dt.strftime('%b')
df['day']=  df['date'].dt.day
df['day_of_week'] = df['date'].dt.day_name()
df['hour'] = df['date'].dt.hour

In [ ]:
cats = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
cat_type = CategoricalDtype(categories=cats, ordered=True)
df['day_of_week'] = df['day_of_week'].astype(cat_type)

In [ ]:
df['started_at']= pd.to_datetime(df['started_at'])
df['ended_at']= pd.to_datetime(df['ended_at'])
df['ride_length'] = (df.ended_at - df.started_at ).dt.seconds

In [ ]:
df = df.loc[(df['start_station_name']!="HQ QR") | (df['ride_length'] > 0)]

### **4. Summary of Analysis**

In [ ]:
df.groupby(['member_casual'])['member_casual'].count()

member_casual
Casual     905860
Member    2973868
Name: member_casual, dtype: int64

In [ ]:
df['ride_length'].describe()

count    3.879728e+06
mean     1.167912e+03
std      2.406173e+03
min      1.000000e+00
25%      4.110000e+02
50%      7.110000e+02
75%      1.288000e+03
max      8.639900e+04
Name: ride_length, dtype: float64

In [ ]:
df.groupby("member_casual")["ride_length"].agg(['count','min', 'max','mean','median'])

                 count  min    max         mean  median
member_casual
Casual          905860    1  86399  2437.263851  1541.0
Member         2973868    1  86385   781.259517   589.0

In [ ]:
df.groupby(["member_casual","month"])["ride_length"].agg('count')

member_casual  month
Casual         Apr       47744
               Aug      186889
               Dec       16430
               Feb       12861
               Jan        7785
               Jul      175632
               Jun      130218
               Mar       27740
               May       81624
               Nov       18729
               Oct       71035
               Sep      129173
Member         Apr      217566
               Aug      403295
               Dec      138662
               Feb      126715
               Jan      136099
               Jul      381683
               Jun      345177
               Mar      115593
               May      285834
               Nov      158447
               Oct      300751
               Sep      364046
Name: ride_length, dtype: int64

In [ ]:
df.groupby(["member_casual","day_of_week"])["ride_length"].agg('mean')

member_casual  day_of_week
Casual         Monday         2398.596114
               Tuesday        2313.519062
               Wednesday      2315.934002
               Thursday       2326.034838
               Friday         2385.262539
               Saturday       2548.907012
               Sunday         2553.735735
Member         Monday          760.233880
               Tuesday         758.170793
               Wednesday       761.485691
               Thursday        765.754036
               Friday          758.507847
               Saturday        872.319633
               Sunday          867.644071
Name: ride_length, dtype: float64

In [ ]:
df.groupby(["member_casual","day_of_week"])["ride_length"].agg('count')

member_casual  day_of_week
Casual         Monday         104418
               Tuesday         91178
               Wednesday       93169
               Thursday       103334
               Friday         122919
               Saturday       209543
               Sunday         181299
Member         Monday         472196
               Tuesday        508445
               Wednesday      500330
               Thursday       484177
               Friday         452790
               Saturday       287958
               Sunday         267972
Name: ride_length, dtype: int64

In [ ]:
# hour column in term of 24 hour
df.groupby(["member_casual","hour"])["ride_length"].agg('count')

member_casual  hour
Casual         0         8363
               1         5501
               2         3361
               3         1982
               4         1196
               5         2690
               6         6291
               7        13335
               8        22478
               9        29805
               10       46399
               11       61893
               12       72023
               13       77705
               14       81352
               15       82642
               16       85432
               17       86809
               18       69299
               19       51181
               20       34930
               21       25433
               22       21421
               23       14339
Member         0        15749
               1         8974
               2         5230
               3         3546
               4         6686
               5        34443
               6       104094
               7       229602
               8       288164
               9       137069
               10      102288
               11      122331
               12      139549
               13      135236
               14      130495
               15      166568
               16      295834
               17      391278
               18      248234
               19      159256
               20      100127
               21       71863
               22       48800
               23       28452
Name: ride_length, dtype: int64

In [ ]:
# hour column in term of 12 hour
df['hour'] = df['date'].dt.strftime('%I%p').str.lstrip('0')
df.groupby(["member_casual","hour"])["ride_length"].agg('count')

member_casual  hour
Casual         10AM     46399
               10PM     21421
               11AM     61893
               11PM     14339
               12AM      8363
               12PM     72023
               1AM       5501
               1PM      77705
               2AM       3361
               2PM      81352
               3AM       1982
               3PM      82642
               4AM       1196
               4PM      85432
               5AM       2690
               5PM      86809
               6AM       6291
               6PM      69299
               7AM      13335
               7PM      51181
               8AM      22478
               8PM      34930
               9AM      29805
               9PM      25433
Member         10AM    102288
               10PM     48800
               11AM    122331
               11PM     28452
               12AM     15749
               12PM    139549
               1AM       8974
               1PM     135236
               2AM       5230
               2PM     130495
               3AM       3546
               3PM     166568
               4AM       6686
               4PM     295834
               5AM      34443
               5PM     391278
               6AM     104094
               6PM     248234
               7AM     229602
               7PM     159256
               8AM     288164
               8PM     100127
               9AM     137069
               9PM      71863
Name: ride_length, dtype: int64

### **5. Visualizations and key findings**

In [ ]:
#@title
%%html 
<div class='tableauPlaceholder' id='viz1677068488365' style='position: relative'><noscript><a href='#'><img alt='Cyclistic is a bike-share company. ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cy&#47;Cyclistic_CapstoneProject_16770685083370&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Cyclistic_CapstoneProject_16770685083370&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cy&#47;Cyclistic_CapstoneProject_16770685083370&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1677068488365');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='800px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='800px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1427px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### **Findings**:

In general, 
*   The most frequent month is August.
*   The number of rides decreases in November and maintains the same level until April. 

* The number of **Members** is higher than **Casuals**.
* **Members** mostly use bikes on weekdays. **Casuals** mostly use bikes on weekends.

During weekends: 
* **Members** and **Casuals** have the same usage time. They use bikes throughout the day from 5:00 to 23:00.

During weekdays:
* **Members** use bikes from 5:00 to 23:00. The most occurred hours are 8:00 and 17:00.
* **Casuals** barely uses bike from 7:00 to 23:00. The most occurred hour is 17:00.

Pickup and dropoff 
* Stations areas for **Causals** are surrounded by parks and museums.
* Stations areas for **Members** are surrounded by the business center.

### **6. Recommendations**
Based on my findings, I noticed that Causlas fall into two types 
<br>One who uses bikes only on weekends around parks and museums.<br>The second uses bikes on weekdays at 7:00 and 17:00.

My suggestions are 

*   For type one, offer promotions that are specific to weekend usage.<br>For example, provide a free hour of rental if they rent for a certain amount of time.
*   For type two, offer discounted rates for renting bikes during peak hours.
*   Creating a loyalty program that rewards renters with discounts or free rentals after a certain number of rentals.